<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="urf-8"/>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/public/css/yellowtail.css"/>
    <script type="text/javascript" src="/public/js/mobileDetect.js"></script>
    <script src="http://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
  <div id="welcome">
    <p>Welcome Again!</p>
  </div>
  <div id="init">
    <p>Welcome!</p>
  </div>
  <div id="mobileIntro">
    <div id="draw">
      <p>Draw Anything</p>
      <img src="/public/image/draw.png">
    </div>
    <div id="shake">
      <p>Shake When You're Done</p>
      <img src="/public/image/shake.png">
    </div>
    <p id="ok">Got It</p>
  </div>
  <div id="laptopIntro">
    <div id="QR">
      <p>Use your phone / tablet to scan the QR code</p>
      <img src="/public/image/xx.jpg">
    </div>
    <span id="showQR">▼</span>
  </div>
  <script type="text/javascript">
    if(!mobile){
      $("#welcome").hide();
      $("#init").hide();
      $("#init").fadeIn();
    }else{
      $("#init").hide();
    }
    $("#mobileIntro").hide();
    $("#laptopIntro").hide();
  </script>
  <canvas id="myCanvas" resize></canvas>
  </body>
  <script type="text/javascript" src="/public/js/dom.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.12/paper.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/public/js/motionDetect.js"></script>
  <script type="text/paperscript" src="/public/js/myScript.js" canvas="myCanvas"></script>
</html>
