<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="urf-8"/>
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
  <p id="check"></p>
  <canvas id="myCanvas" width="1200px" height="700px"></canvas>
  </body>
<script src="/socket.io/socket.io.js"></script>
<script src="http://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/public/js/mobiledetect.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.12/paper.js"></script>
<script type="text/paperscript" src="/public/js/myScript.js" canvas="myCanvas">
</script>
<script src="/public/js/socket.js"></script>
<script type="text/javascript">
  if(check){
    $("#check").append("mobile");
  }else{
    $("#check").append("laptop");
  }
</script>
</html>
