<html>
<head>
  <title>Yellow Tail</title>
  <meta charset = "utf-8" />
  <meta property="og:title" content="Yellow Tail"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://yellowtail.karenlabs.com/"/>
  <meta property="og:image" content="http://whosetail.herokuapp.com/public/image/tailfb.jpg"/>
  <meta property="og:site_name" content="Yellow Tail"/>
  <meta property="og:description" content="Make your drawing come to live!"/>
  <link rel="shortcut icon" type="/public/image/x-icon" href="/public/image/favicon.ico"/>
</head>
<body>
 <%- locals.body %>
</body>
</html>
